/* CSS for small utilities */

.site-content .container {
  padding-top: 50px;
}

.index-title {
  color: rgba(0, 0, 0, 0.84);
  margin-top: 20px;
}

.title-header {
  display: flex;
  justify-content: center;
}

.index-sub {
  color: rgba(0, 0, 0, 1);
}

.index-text {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.44);
}

.index-button {
  margin: 40px auto 0 auto;
  border: 1px solid #000000;
  border-radius: 3px;
  width: fit-content;
  padding: 10px 50px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.index-button:hover {
  background: #000000;
  border: 1px solid transparent;
  color: #ffffff;
}

.index-image {
  width: 75px;
}

.social-icon {
  color: rgba(0, 0, 0, 0.44);
  margin-left: 20px;
  font-size: 2.5rem;
}

.clock {
  margin-left: 25px;
}

.jumbotron.fortags a {
  background: #1c9963 !important;
}

.error {
  text-align: center !important;
}

@media (min-width: 769px) {
  .md-nopad-right {
    padding-right: 0px !important;
  }
  .md-nopad-left {
    padding-left: 0px !important;
  }
}
